---
title: Home
description: The latest app to help you find new friends with common interests.
image: /IMG_5230.JPG
bottom_image: 'https://unsplash.it/2000/1322?a=.png'
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Meet Mark today
			</h1>
			<p class="subtext editable">
				Meet Mark Chen today.&nbsp;
			</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					About Mark
				</h2>
				<p class="editable">
					Mark is a data analytics professional.&nbsp;
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Mark's Projects
				</h2>
				<p class="editable">
					Mark's projects.&nbsp;
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Mark's Interests
				</h2>
				<p class="editable">
					Mark's interests.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					Talk to Mark today
				</h2>
				<p class="subtext editable">
					Talk to Mark today.&nbsp;
				</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
